/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(peak-bamboo-lijiang-rural-mist.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 70px;
    margin-bottom: 50px;
}

h1 {
    font-size: 28px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    color: #eee;
}

h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    /* Add a transition for a smooth shadow animation */
    transition: box-shadow .3s ease-in-out;
}

.container:hover {
    /* Increase the size of the shadow on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#getAnswerButton {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    /* Add transition on hover */
    transition: all .2s ease-in-out;
}

#getAnswerButton:hover {
    /* slightly darken background color, grow size and drop shadow */
    background-color: #0077a1;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}









